/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generals */
h6 {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
}

/* DEBUG */
/* [class^="container"] {
  border: 1px dashed black;
  background-color: lightblue;
  min-height: 80vh;
}

[class^="row"] {
  border: 1px dashed red;
}

[class^="col"] {
  height: 100px;
  background-color: #f1d2e7;
  border: 1px solid #d0a8eb;
} */

/* Sezione doppia colonna */
.doppio .left {
  background-color: rgb(248, 249, 250);
}

.doppio .right {
  color: white;
  font-weight: bold;
  background-color: rgb(107, 117, 125);
}
